.jumbotron{
	padding-top: 6rem;
	background-color:  #a2d9ff;
}


#projects {
	background-color:  #a2d9ff;
}

section{
	padding-top: 5rem;
}

.gallery-img {
	width: 100%;
}

#gallery .row > * {
	padding: 0;
}